{% extends 'base.html.twig' %}

{% block body %}


<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">id</th>
      <th scope="col">Prénom</th>
      <th scope="col">Age</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.age }}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>

    
        
            
        
   


{% endblock %}





