{% extends 'base.html.twig' %}  {# hehehehe #}

{% block body %}
    <h4>Ceci est la home page qui vient du block home.html.twig</h4>

    
    <h5>Bienvenue : {{ name }}</h5>
    {% if name == 'Julien' %}
        <h3>Ton accent est chantant</h3>
    {% endif %}

{% endblock %}





